@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    
}
body{
    background-image: url('img/backgroud.jpg');
}
.div-logo{
    background-color: rgb(255, 255, 255);
}
.logo{
    width: 10%;
    animation: pulsar 4s ease-in-out infinite;
}
@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% */
    }
    100% {
        transform: scale(1);
    }
}
.aba{
    margin-left: 15px;
    text-decoration: none;
    color: #ffffff;
}
.aba:hover{
    color: chocolate;
    text-decoration: overline;
}
.menu{
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    background-color: chocolate;
}
.inicio{
    width: 30%;
    display: flex;
}
.img-inicio{
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover; /* Mantém a proporção da imagem e corta o excesso */
    transition: transform 1.3s ease, filter 0.2s ease;
}
.img-inicio:hover{
    transform: scale(1.1);
    filter: brightness(0.8); 
}
.titulo{
    font-family: 'Dancing Script', cursive;
    color: hotpink;
    margin-bottom: 15px;
}
.paragrafo{
    color: rgb(87, 87, 87);
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 60%;
}
.img{
    width: 60%;
}

.valores{
    width: 10%;
    margin-left: 90px;
}
.valores2{
    width: 30%;
    font-size: 18px;
    color: rgb(87, 87, 87);
    text-align: center;
    margin-bottom: 30px;

}
.teste{
    margin-top: 30px;
    display: flex;
    
}
h2{
    color: rgb(226, 125, 43);
    font-family: 'Dancing Script', cursive;
}
.diferenciais{
    background-color: rgb(241, 228, 253);
    
}
h3{
   
    color: darkgoldenrod;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.btn{
    width: 20%;
    padding: 10px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: hotpink;
    color: #ffffff;
    transition: transform 1.3s ease, filter 0.2s ease;
    border-radius: 5px;
    
}
.btn:hover{
    background-color: #ffffff;
    color: hotpink;
    transform: scale(1.1);
    
}

/* Estilização do coração */
.btn::before {
    content: '\2665'; /* Código do caractere de coração */
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.btn:hover::before {
    opacity: 1;
    top: -20px; /* Mova o coração um pouco para cima ao passar o mouse */
    transform: translateX(-50%) scale(1.2);
}
  
hr{
    width: 90%;
    margin-bottom: 5%;
    margin-top: 5%;
    border: 1px solid chocolate;
}
.rodape{
    background-color: #ffffff;
    color: hotpink;
    display: flex;
    margin-top: 10%;
}
h6{
    width: 50%;
    margin-top: 5%;
    margin-bottom: 20px;
    
}
